body{
  background: #1f253d;
}
center {
    width: 420px;
    max-width: 100%;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    color: #444;
}

header {
    background: #11a8ab;
    color: white;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 5px #555555;
    position: relative;
}

h1 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 32;
}

h4{
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #FFF;
}

/* center>div {
    padding: 24px 10px 10px 10px;
    box-shadow: 1px 1px 5px #555555;
} */

table {
    margin: 0px 24px 0px 12px;
}

td {
    color: #555;
    width: 100%;
}

tr {
    width: 100%;
}

.button {
  display: block;
  width: 175px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
      margin-top: 0px;
      margin-bottom: 10px;
  border-radius: 5px;
  -webkit-transition: background .3s;
  transition: background .3s;
  background: #11a8ab;
  border: none;
  color:#FFF;
}
.button:hover {
    box-shadow: 1px 1px 3px #444;
    background: #0F9295;

}

input[type=range] {
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    margin: 6px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0px;
    height: 15px;
    width: 15px;
    margin-top: -6px;
    border-radius: 7.5px;
}

input.disabled[type=range]::-webkit-slider-thumb {
    background: #999;
}

input.enabled[type=range]::-webkit-slider-thumb {
    background: #00878F;
    cursor: pointer;
    box-shadow: 1px 1px 2px #777, 0px 0px 1px #777;
}

input[type=range]::-webkit-slider-runnable-track {
    width: inherit;
    height: 4px;
    background: #ccc;
    border-radius: 1px;
}

input.enabled[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
}


ul#target_list {
   /* border:1px solid black; */
   border-collapse: collapse;
   list-style: none;

}



ul#target_list li {
    margin:0;
    padding:0;
}


ul#target_list li p {
    display:inline-block;
    padding: 5px;
    margin:0;
}

p.name {
    background-color:orange;
}

p.version {
    background-color:greenyellow;
}

p.ip {
    background-color:blueviolet;
}

p.liste {
    background-color:lightskyblue;
    border:1px solid black;
}

p.animations {
    background-color:red;
    margin:4px;
    padding:4px;
    /*display:inline;*/
}
p.animations a {
 display:block;
}
.section{
  margin-bottom: 25px;
  background: #394264;
  border-radius: 5px;
  color: #FFF;
  padding-bottom: 20px;
}
#animaker {
 border:none;
 table-layout: fixed;
}

#animaker tr td {
    b!order-collapse: collapse;
    border:1px solid black;
    margin:1px;
    width:10px;
    height:10px;
    background-color: black;
}
#loading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loading-animation{
  width: 100%;
  margin-bottom: 30px;
}
.wifi-symbol {
  display: none;
}

.wifi-symbol [foo], .wifi-symbol {
  position: relative;
  top: -75px;
  display: inline-block;
  width: 100px;
  height: 100px;
  left: 75px;
  -ms-transform: rotate(-45deg) translate(-100px);
  -moz-transform: rotate(-45deg) translate(-100px);
  -o-transform: rotate(-45deg) translate(-100px);
  -webkit-transform: rotate(-45deg) translate(-100px);
  transform: rotate(-45deg) translate(-100px);
}

.wifi-symbol .wifi-circle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14,.42857px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: #00A9C2;
  border-style: solid;
  border-width: 1em 1em 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0;
  -o-animation: wifianimation 2s infinite;
  -moz-animation: wifianimation 2s infinite;
  -webkit-animation: wifianimation 2s infinite;
  animation: wifianimation 2s infinite;
}

.wifi-symbol .wifi-circle.first {
  -o-animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.wifi-symbol .wifi-circle.second {
  width: 5em;
  height: 5em;
  -o-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.wifi-symbol .wifi-circle.third {
  width: 3em;
  height: 3em;
}

.wifi-symbol .wifi-circle.fourth {
  width: 1em;
  height: 1em;
  opacity: 1;
  background-color: #00A9C2;
  -o-animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}

@-o-keyframes wifianimation
{
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}

@-moz-keyframes wifianimation
{
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}

@-webkit-keyframes wifianimation
{
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
